Flask==3.0.3
Werkzeug==3.0.1
tensorflow==2.16.1
torch==2.2.2
torchvision==0.17.2
matplotlib==3.9.2
lime==0.2.0.1
scikit-image==0.24.0
numpy==1.26.4
Pillow==10.3.0
gunicorn
opencv-python

